:root {
  --btn-def-bg-color: #ebebeb;
  --btn-hover-bg-color: #f4f4f4;
  --btn-active-bg-color: #e1e1e1;
  --btn-disabled-bg-color: #f0f0f0;

  --btn-def-text-color: #111111;
  --btn-hover-text-color: #111111;
  --btn-active-text-color: #4c4c4c;
  --btn-disabled-text-color: #888888;

  --btn-border-main-color: #afafaf;
  --btn-border-disabled-color: #d3d3d3;

  --btn-arrow: url("data:image/svg+xml;charset=UTF-8,%3csvg width='4' height='9' viewBox='0 0 4 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0V8H1V7H2V6H3V5H4V3H3V2H2V1H1V0H0Z' fill='%23DC241F'/%3e%3cpath d='M1 7V8H2V7H1Z' fill='white'/%3e%3cpath d='M3 5V6H4V5H3Z' fill='white'/%3e%3cpath d='M2 6V7H3V6H2Z' fill='white'/%3e%3cpath d='M1 8H0V9H1V8Z' fill='white'/%3e%3c/svg%3e ");
  --btn-arrow-active: url("data:image/svg+xml;charset=UTF-8,%3csvg width='4' height='9' viewBox='0 0 4 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0V8H1V7H2V6H3V5H4V3H3V2H2V1H1V0H0Z' fill='%23A95E5C'/%3e%3cpath d='M1 7V8H2V7H1Z' fill='white'/%3e%3cpath d='M3 5V6H4V5H3Z' fill='white'/%3e%3cpath d='M2 6V7H3V6H2Z' fill='white'/%3e%3cpath d='M1 8H0V9H1V8Z' fill='white'/%3e%3c/svg%3e ");
  --btn-arrow-disabled: url("data:image/svg+xml;charset=UTF-8,%3csvg width='4' height='9' viewBox='0 0 4 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0V8H1V7H2V6H3V5H4V3H3V2H2V1H1V0H0Z' fill='%23b6b6b6'/%3e%3cpath d='M1 7V8H2V7H1Z' fill='white'/%3e%3cpath d='M3 5V6H4V5H3Z' fill='white'/%3e%3cpath d='M2 6V7H3V6H2Z' fill='white'/%3e%3cpath d='M1 8H0V9H1V8Z' fill='white'/%3e%3c/svg%3e ");

  --btn-action-edit: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4.24264 13.435H-5.1856e-06V9.19239L4.24264 13.435Z' fill='%23111111'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.94974 12.7279L0.707102 8.48528L7.07106 2.12132L11.3137 6.36396L4.94974 12.7279ZM2.12132 8.48528L4.94974 11.3137L9.89949 6.36396L7.07106 3.53553L2.12132 8.48528Z' fill='%23111111'/%3e%3cpath d='M12.0208 5.65685L7.77817 1.41421L9.19238 0L13.435 4.24264L12.0208 5.65685Z' fill='%23111111'/%3e%3c/svg%3e ");
  --btn-action-upload: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3 3.70709L6 0.707092L9 3.70709H6.5H5.5H3Z' fill='%23111111'/%3e%3cpath d='M5.5 3.70709H3L6 0.707092L9 3.70709H6.5M5.5 3.70709V8.70709H6.5V3.70709M5.5 3.70709H6.5M6 10.2071H0.5V12.2071H11.5V10.2071H6Z' stroke='%23111111'/%3e%3c/svg%3e ");
  --btn-action-delete: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.707031 0.707092L9.70703 9.70709M9.70703 0.707092L0.707031 9.70709' stroke='%23111111' stroke-width='2'/%3e%3c/svg%3e ");
  --btn-action-print: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.5 10.5H3.5V7.5H12.5V10.5H13.5V8.5H15.5V5.5H12.5H3.5H2.5V7.5H0.5V10.5Z' fill='%23111111'/%3e%3cpath d='M12.5 3.5L9.5 0.5V3.5H12.5Z' fill='%23111111'/%3e%3cpath d='M3.5 5.5V0.5H9.5M3.5 5.5H12.5M3.5 5.5H2.5M3.5 10.5H0.5V7.5M3.5 10.5V13.5H12.5V10.5M3.5 10.5V7.5H12.5V10.5M12.5 10.5H13.5M12.5 5.5H15.5V8.5M12.5 5.5V3.5M12.5 3.5L9.5 0.5M12.5 3.5H9.5V0.5M0.5 7.5V5.5H2.5M0.5 7.5H2.5V5.5M13.5 10.5H15.5V8.5M13.5 10.5V8.5H15.5M5 9.5H11M5 11.5H11' stroke='%23111111'/%3e%3c/svg%3e ");
  --btn-action-download: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3 5.5L6 8.5L9 5.5H6.5H5.5H3Z' fill='%23111111'/%3e%3cpath d='M5.5 5.5H3L6 8.5L9 5.5H6.5M5.5 5.5V0.5H6.5V5.5M5.5 5.5H6.5M0.5 9.5V11.5H11.5V9.5H0.5Z' stroke='%23111111'/%3e%3c/svg%3e ");
}

.btn-UI-kit {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-states-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
  width: fit-content;
}

.btn-actions-container {
  display: flex;
  gap: 10px;
}

.btn-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: 102px;
  height: 32px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 1;
  cursor: pointer;
  background-color: var(--btn-def-bg-color);
  color: var(--btn-def-text-color);
  border-width: 1px;
  border-style: solid;
  border-color: var(--btn-border-main-color);
}

.btn.btn-action {
  width: max-content;
  padding: 0 14px;
}

.is-hover {
  background-color: var(--btn-hover-bg-color);
  color: var(--btn-hover-text-color);
}

.is-active {
  background-color: var(--btn-active-bg-color);
  color: var(--btn-active-text-color);
}

:disabled {
  background-color: var(--btn-disabled-bg-color);
  color: var(--btn-disabled-text-color);
  border-color: var(--btn-border-disabled-color);
}

.btn-outline {
  border-width: 2px;
}

.btn-fill {
  border-width: 0;
}

.danger {
  --btn-def-bg-color: #dc241f;
  --btn-hover-bg-color: #e83029;
  --btn-active-bg-color: #a9120c;
  --btn-disabled-bg-color: #ec8e8b;

  --btn-def-text-color: #ffffff;
  --btn-hover-text-color: #ffffff;
  --btn-active-text-color: #edc2c2;
  --btn-disabled-text-color: #ffd8d7;

  --btn-border-main-color: #dc241f;
  --btn-border-disabled-color: #d3d3d3;
}

.success {
  --btn-def-bg-color: #6e9735;
  --btn-hover-bg-color: #85b444;
  --btn-active-bg-color: #5e822b;
  --btn-disabled-bg-color: #9fba7b;

  --btn-def-text-color: #ffffff;
  --btn-hover-text-color: #ffffff;
  --btn-active-text-color: #e1f0cd;
  --btn-disabled-text-color: #e5f1d4;

  --btn-border-main-color: #6e9735;
  --btn-border-disabled-color: #d3d3d3;
}

.btn-outline.success,
.btn-outline.danger {
  --btn-def-bg-color: #ebebeb;
  --btn-hover-bg-color: #f4f4f4;
  --btn-active-bg-color: #e1e1e1;
  --btn-disabled-bg-color: #f0f0f0;

  --btn-def-text-color: #111111;
  --btn-hover-text-color: #111111;
  --btn-active-text-color: #4c4c4c;
  --btn-disabled-text-color: #888888;
}

.btn-arrow::after {
  content: '';
  width: 4px;
  height: 9px;
  background-image: var(--btn-arrow);
  background-repeat: no-repeat;
  background-position: center;
}

.btn-arrow.is-hover::after {
  background-image: var(--btn-arrow);
}

.btn-arrow.is-active::after {
  background-image: var(--btn-arrow-active);
}

.btn-arrow:disabled::after {
  background-image: var(--btn-arrow-disabled);
}

.btn-action::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-action.edit::before {
  background-image: var(--btn-action-edit);
}

.btn-action.upload::before {
  background-image: var(--btn-action-upload);
  width: 12px;
  height: 13px;
}

.btn-action.delete::before {
  background-image: var(--btn-action-delete);
  width: 11px;
  height: 11px;
}

.btn-action.print::before {
  background-image: var(--btn-action-print);
  width: 16px;
  height: 14px;
}

.btn-action.download::before {
  background-image: var(--btn-action-download);
  width: 12px;
  height: 12px;
}