:root{
  --bg-color: #FFFFFF;
  --text-color: #3A3A3A;
  --scroll-thumb-color: #83141F;
  --scroll-track-color: #E6E6E6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 375px;
  width: 100dvw;
  height: 100dvh;
  padding: 30px;
  position: relative;
}

.showcase {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.showcase::-webkit-scrollbar {
  width: 13px;
}

.showcase::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 10px;
}

.showcase::-webkit-scrollbar-track {
  background-color: var(--scroll-track-color);
  border-radius: 10px;
  width: 100%;
}

.showcase__item {
  height: 410px;
  width: 290px;
  display: grid;
  grid-template-rows: 2fr 1fr;
  padding: 0 25px;
  gap: 10px;
  flex-shrink: 0;
}

.showcase__item-image {
  width: 100%;
  object-fit: contain;
}

.showcase__item-caption {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: var(--text-color);
}

footer {
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -10%);
}