* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2D333B;
  padding: 20px;
}

.title {
  font-size: 32px;
  font-weight: normal;
  font-family: sans-serif;
  color: white;
  margin-bottom: 35px;
}
.scheme-root {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(8, 80px);
  grid-auto-rows: max-content;
  gap: 20px 40px;
  position: relative;
}

.links {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.node {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  min-height: 40px;
  height: max-content;
  padding: 12px 21px;
  font-size: 15px;
  line-height: 21px;
  font-family: sans-serif;
  color: black;
  background-color: white;
}

.node#alliksaar {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

.node#duhast {
  grid-column: 7 / span 2;
  grid-row: 1 / span 1;
}

.node#anastasia {
  grid-column: 7 / span 2;
  grid-row: 2 / span 1;
}

.node#stanislav {
  grid-column: 2 / span 2;
  grid-row: 3 / span 1;
}

.node#aleksandr {
  grid-column: 7 / span 2;
  grid-row: 3 / span 1;
}

.node#ludmila {
  grid-column: 3 / span 2;
  grid-row: 4 / span 1;
}

.node#olga {
  grid-column: 3 / span 2;
  grid-row: 5 / span 1;
}

.node#dmitriy {
  grid-column: 7 / span 2;
  grid-row: 5 / span 1;
}

.node#kristina {
  grid-column: 7 / span 2;
  grid-row: 6 / span 1;
}

.node#maxim {
  grid-column: 7 / span 2;
  grid-row: 7 / span 1;
}

.node#sergey {
  grid-column: 3 / span 2;
  grid-row: 8 / span 1;
}

.node#igor {
  grid-column: 2 / span 2;
  grid-row: 9 / span 1;
}

.node#anton {
  grid-column: 2 / span 2;
  grid-row: 10 / span 1;
}
